In [2]:
%env PGDATABASE=postgres
%env PGHOST=10.8.114.3
%env PGPORT=5432
%env PGUSER=postgres
%env PGPASSWORD=AlexiaAmber
%env PGINSTANCE=pg

env: PGDATABASE=postgres
env: PGHOST=10.8.114.3
env: PGPORT=5432
env: PGUSER=postgres
env: PGPASSWORD=AlexiaAmber
env: PGINSTANCE=pg

### Create the schema and database objects

In [5]:
!psql -c "\i /home/jupyter/pagila/pagila-schema.sql"

psql:/home/jupyter/pagila/pagila-schema.sql:8: NOTICE:  schema "pagila" does not exist, skipping
DROP SCHEMA
CREATE SCHEMA
SET
SET
SET
SET
SET
SET
SET
SET
SET
CREATE EXTENSION
CREATE TYPE
ALTER TYPE
CREATE DOMAIN
ALTER DOMAIN
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE SEQUENCE
ALTER TABLE
SET
SET
CREATE TABLE
ALTER TABLE
CREATE FUNCTION
ALTER FUNCTION
CREATE AGGREGATE
ALTER AGGREGATE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE VIEW
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE

### Populate the pagila tables

In [ ]:
!psql -c "\i /home/jupyter/pagila/pagila-insert-data.sql"

### Describe each table using \d

In [8]:
!psql -c "\d pagila.actor"

                                              Table "pagila.actor"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 actor_id    | integer                  |           | not null | nextval('pagila.actor_actor_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "actor_pkey" PRIMARY KEY, btree (actor_id)
    "idx_actor_last_name" btree (last_name)
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.actor FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [9]:
!psql -c "\d pagila.film"

                                                  Table "pagila.film"
        Column        |           Type           | Collation | Nullable |                   Default
----------------------+--------------------------+-----------+----------+----------------------------------------------
 film_id              | integer                  |           | not null | nextval('pagila.film_film_id_seq'::regclass)
 title                | text                     |           | not null |
 description          | text                     |           |          |
 release_year         | pagila.year              |           |          |
 language_id          | smallint                 |           | not null |
 original_language_id | smallint                 |           |          |
 rental_duration      | smallint                 |           | not null | 3
 rental_rate          | numeric(4,2)             |           | not null | 4.99
 length               | smallint                 |           |          |
 replacement_cost     | numeric(5,2)             |           | not null | 19.99
 rating               | pagila.mpaa_rating       |           |          | 'G'::pagila.mpaa_rating
 last_update          | timestamp with time zone |           | not null | now()
 special_features     | text[]                   |           |          |
 fulltext             | tsvector                 |           | not null |
Indexes:
    "film_pkey" PRIMARY KEY, btree (film_id)
    "film_fulltext_idx" gist (fulltext)
    "idx_fk_language_id" btree (language_id)
    "idx_fk_original_language_id" btree (original_language_id)
    "idx_title" btree (title)
Foreign-key constraints:
    "film_language_id_fkey" FOREIGN KEY (language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_original_language_id_fkey" FOREIGN KEY (original_language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.film_category" CONSTRAINT "film_category_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.inventory" CONSTRAINT "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    film_fulltext_trigger BEFORE INSERT OR UPDATE ON pagila.film FOR EACH ROW EXECUTE PROCEDURE tsvector_update_trigger('fulltext', 'pg_catalog.english', 'title', 'description')
    last_updated BEFORE UPDATE ON pagila.film FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [10]:
!psql -c "\d pagila.country"

                                               Table "pagila.country"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 country_id  | integer                  |           | not null | nextval('pagila.country_country_id_seq'::regclass)
 country     | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "country_pkey" PRIMARY KEY, btree (country_id)
Referenced by:
    TABLE "pagila.city" CONSTRAINT "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.country FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [11]:
!psql -c "\d pagila.category"

                                               Table "pagila.category"
   Column    |           Type           | Collation | Nullable |                       Default
-------------+--------------------------+-----------+----------+------------------------------------------------------
 category_id | integer                  |           | not null | nextval('pagila.category_category_id_seq'::regclass)
 name        | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "category_pkey" PRIMARY KEY, btree (category_id)
Referenced by:
    TABLE "pagila.film_category" CONSTRAINT "film_category_category_id_fkey" FOREIGN KEY (category_id) REFERENCES pagila.category(category_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.category FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [12]:
!psql -c "\d pagila.city"

                                             Table "pagila.city"
   Column    |           Type           | Collation | Nullable |                   Default
-------------+--------------------------+-----------+----------+----------------------------------------------
 city_id     | integer                  |           | not null | nextval('pagila.city_city_id_seq'::regclass)
 city        | text                     |           | not null |
 country_id  | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "city_pkey" PRIMARY KEY, btree (city_id)
    "idx_fk_country_id" btree (country_id)
Foreign-key constraints:
    "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.address" CONSTRAINT "address_city_id_fkey" FOREIGN KEY (city_id) REFERENCES pagila.city(city_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.city FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [13]:
 !psql -c "\d pagila.address"

                                               Table "pagila.address"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 address_id  | integer                  |           | not null | nextval('pagila.address_address_id_seq'::regclass)
 address     | text                     |           | not null |
 address2    | text                     |           |          |
 district    | text                     |           | not null |
 city_id     | smallint                 |           | not null |
 postal_code | text                     |           |          |
 phone       | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "address_pkey" PRIMARY KEY, btree (address_id)
    "idx_fk_city_id" btree (city_id)
Foreign-key constraints:
    "address_city_id_fkey" FOREIGN KEY (city_id) REFERENCES pagila.city(city_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.customer" CONSTRAINT "customer_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.staff" CONSTRAINT "staff_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.store" CONSTRAINT "store_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.address FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [14]:
!psql -c "\d pagila.customer"

                                                Table "pagila.customer"
   Column    |           Type           | Collation | Nullable |                        Default
-------------+--------------------------+-----------+----------+-------------------------------------------------------
 customer_id | integer                  |           | not null | nextval('pagila.customer_customer_id_seq1'::regclass)
 store_id    | smallint                 |           | not null |
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 email       | text                     |           |          |
 address_id  | smallint                 |           | not null |
 activebool  | boolean                  |           | not null | true
 create_date | date                     |           | not null | ('now'::text)::date
 last_update | timestamp with time zone |           |          | now()
 active      | integer                  |           |          |
Indexes:
    "customer_pkey" PRIMARY KEY, btree (customer_id)
    "idx_fk_address_id" btree (address_id)
    "idx_fk_store_id" btree (store_id)
    "idx_last_name" btree (last_name)
Foreign-key constraints:
    "customer_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "customer_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.customer FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [15]:
!psql -c "\d pagila.language"

                                               Table "pagila.language"
   Column    |           Type           | Collation | Nullable |                       Default
-------------+--------------------------+-----------+----------+------------------------------------------------------
 language_id | integer                  |           | not null | nextval('pagila.language_language_id_seq'::regclass)
 name        | character(20)            |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "language_pkey" PRIMARY KEY, btree (language_id)
Referenced by:
    TABLE "pagila.film" CONSTRAINT "film_language_id_fkey" FOREIGN KEY (language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.film" CONSTRAINT "film_original_language_id_fkey" FOREIGN KEY (original_language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.language FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [16]:
!psql -c "\d pagila.film_actor"

                        Table "pagila.film_actor"
   Column    |           Type           | Collation | Nullable | Default
-------------+--------------------------+-----------+----------+---------
 actor_id    | smallint                 |           | not null |
 film_id     | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "film_actor_pkey" PRIMARY KEY, btree (actor_id, film_id)
    "idx_fk_film_id" btree (film_id)
Foreign-key constraints:
    "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_actor_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.film_actor FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [17]:
!psql -c "\d pagila.film_category"

                      Table "pagila.film_category"
   Column    |           Type           | Collation | Nullable | Default
-------------+--------------------------+-----------+----------+---------
 film_id     | smallint                 |           | not null |
 category_id | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "film_category_pkey" PRIMARY KEY, btree (film_id, category_id)
Foreign-key constraints:
    "film_category_category_id_fkey" FOREIGN KEY (category_id) REFERENCES pagila.category(category_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_category_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.film_category FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [18]:
!psql -c "\d pagila.inventory"

                                                Table "pagila.inventory"
    Column    |           Type           | Collation | Nullable |                        Default
--------------+--------------------------+-----------+----------+--------------------------------------------------------
 inventory_id | integer                  |           | not null | nextval('pagila.inventory_inventory_id_seq'::regclass)
 film_id      | smallint                 |           | not null |
 store_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "inventory_pkey" PRIMARY KEY, btree (inventory_id)
    "idx_store_id_film_id" btree (store_id, film_id)
Foreign-key constraints:
    "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.inventory FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [19]:
!psql -c "\d pagila.staff"

                                              Table "pagila.staff"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 staff_id    | integer                  |           | not null | nextval('pagila.staff_staff_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 address_id  | smallint                 |           | not null |
 email       | text                     |           |          |
 store_id    | smallint                 |           | not null |
 active      | boolean                  |           | not null | true
 username    | text                     |           | not null |
 password    | text                     |           |          |
 last_update | timestamp with time zone |           | not null | now()
 picture     | bytea                    |           |          |
Indexes:
    "staff_pkey" PRIMARY KEY, btree (staff_id)
Foreign-key constraints:
    "staff_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "staff_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id)
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.staff FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [20]:
!psql -c "\d pagila.payment"

                                               Table "pagila.payment"
    Column    |           Type           | Collation | Nullable |                      Default
--------------+--------------------------+-----------+----------+----------------------------------------------------
 payment_id   | integer                  |           | not null | nextval('pagila.payment_payment_id_seq'::regclass)
 customer_id  | smallint                 |           | not null |
 staff_id     | smallint                 |           | not null |
 rental_id    | integer                  |           | not null |
 amount       | numeric(5,2)             |           | not null |
 payment_date | timestamp with time zone |           | not null |
Indexes:
    "idx_fk_customer_id" btree (customer_id)
    "idx_fk_staff_id" btree (staff_id)

In [21]:
!psql -c "\d pagila.rental"

                                               Table "pagila.rental"
    Column    |           Type           | Collation | Nullable |                     Default
--------------+--------------------------+-----------+----------+--------------------------------------------------
 rental_id    | integer                  |           | not null | nextval('pagila.rental_rental_id_seq'::regclass)
 rental_date  | timestamp with time zone |           | not null |
 inventory_id | integer                  |           | not null |
 customer_id  | smallint                 |           | not null |
 return_date  | timestamp with time zone |           |          |
 staff_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "rental_pkey" PRIMARY KEY, btree (rental_id)
    "idx_unq_rental_rental_date_inventory_id_customer_id" UNIQUE, btree (rental_date, inventory_id, customer_id)
    "idx_fk_inventory_id" btree (inventory_id)
Foreign-key constraints:
    "rental_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.rental FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [22]:
!psql -c "\d pagila.store"

                                                Table "pagila.store"
      Column      |           Type           | Collation | Nullable |                    Default
------------------+--------------------------+-----------+----------+------------------------------------------------
 store_id         | integer                  |           | not null | nextval('pagila.store_store_id_seq'::regclass)
 manager_staff_id | smallint                 |           | not null |
 address_id       | smallint                 |           | not null |
 last_update      | timestamp with time zone |           | not null | now()
Indexes:
    "store_pkey" PRIMARY KEY, btree (store_id)
    "idx_unq_manager_staff_id" UNIQUE, btree (manager_staff_id)
Foreign-key constraints:
    "store_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.customer" CONSTRAINT "customer_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.inventory" CONSTRAINT "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.staff" CONSTRAINT "staff_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id)
Triggers:
    last_updated BEFORE UPDATE ON pagila.store FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

### 3 queries that use an INNER JOIN between two or more tables

### Joining the store table with the rental table by inner join, ordering by store id where store id is greater than or equal to 1

In [98]:
!psql -c "select * from pagila.store INNER JOIN pagila.rental ON store.store_id = rental.rental_id WHERE store_id >= 1 ORDER BY store_id;"

 store_id | manager_staff_id | address_id |      last_update       | rental_id |      rental_date       | inventory_id | customer_id |      return_date       | staff_id |      last_update
----------+------------------+------------+------------------------+-----------+------------------------+--------------+-------------+------------------------+----------+------------------------
        1 |                1 |          1 | 2017-02-15 09:57:12+00 |         1 | 2005-05-24 22:53:30+00 |          367 |         130 | 2005-05-26 22:04:30+00 |        1 | 2017-02-15 21:30:53+00
        2 |                2 |          2 | 2017-02-15 09:57:12+00 |         2 | 2005-05-24 22:54:33+00 |         1525 |         459 | 2005-05-28 19:40:33+00 |        1 | 2017-02-16 02:30:53+00
(2 rows)

### Joining actor table with film table by inner join, ordering by actor's first name where the title has a letter T in it

In [101]:
!psql -c "select * from pagila.actor INNER JOIN pagila.film ON actor_id = film_id where film.title like '%T%' order by actor.first_name limit 10;"

 actor_id | first_name |  last_name  |      last_update       | film_id |         title         |                                                       description                                                       | release_year | language_id | original_language_id | rental_duration | rental_rate | length | replacement_cost | rating |          last_update          |                special_features                 |                                                                               fulltext
----------+------------+-------------+------------------------+---------+-----------------------+-------------------------------------------------------------------------------------------------------------------------+--------------+-------------+----------------------+-----------------+-------------+--------+------------------+--------+-------------------------------+-------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------
      132 | ADAM       | HOPPER      | 2017-02-15 09:34:33+00 |     132 | CHAINSAW UPTOWN       | A Beautiful Documentary of a Boy And a Robot who must Discover a Squirrel in Australia                                  |         2006 |           1 |                      |               6 |        0.99 |    114 |            25.99 | PG     | 2017-09-10 17:46:03.905795+00 | {"Deleted Scenes","Behind the Scenes"}          | 'australia':18 'beauti':4 'boy':8 'chainsaw':1 'discov':14 'documentari':5 'must':13 'robot':11 'squirrel':16 'uptown':2
      146 | ALBERT     | JOHANSSON   | 2017-02-15 09:34:33+00 |     146 | CHITTY LOCK           | A Boring Epistle of a Boat And a Database Administrator who must Kill a Sumo Wrestler in The First Manned Space Station |         2006 |           1 |                      |               6 |        2.99 |    107 |            24.99 | G      | 2017-09-10 17:46:03.905795+00 | {Commentaries}                                  | 'administr':12 'boat':8 'bore':4 'chitti':1 'databas':11 'epistl':5 'first':21 'kill':15 'lock':2 'man':22 'must':14 'space':23 'station':24 'sumo':17 'wrestler':18
       29 | ALEC       | WAYNE       | 2017-02-15 09:34:33+00 |      29 | ANTITRUST TOMATOES    | A Fateful Yarn of a Womanizer And a Feminist who must Succumb a Database Administrator in Ancient India                 |         2006 |           1 |                      |               5 |        2.99 |    168 |            11.99 | NC-17  | 2017-09-10 17:46:03.905795+00 | {Trailers,Commentaries,"Deleted Scenes"}        | 'administr':17 'ancient':19 'antitrust':1 'databas':16 'fate':4 'feminist':11 'india':20 'must':13 'succumb':14 'tomato':2 'woman':8 'yarn':5
      144 | ANGELA     | WITHERSPOON | 2017-02-15 09:34:33+00 |     144 | CHINATOWN GLADIATOR   | A Brilliant Panorama of a Technical Writer And a Lumberjack who must Escape a Butler in Ancient India                   |         2006 |           1 |                      |               7 |        4.99 |     61 |            24.99 | PG     | 2017-09-10 17:46:03.905795+00 | {Trailers,Commentaries,"Deleted Scenes"}        | 'ancient':19 'brilliant':4 'butler':17 'chinatown':1 'escap':15 'gladiat':2 'india':20 'lumberjack':12 'must':14 'panorama':5 'technic':8 'writer':9
      196 | BELA       | WALKEN      | 2017-02-15 09:34:33+00 |     196 | CRUELTY UNFORGIVEN    | A Brilliant Tale of a Car And a Moose who must Battle a Dentist in Nigeria                                              |         2006 |           1 |                      |               7 |        0.99 |     69 |            29.99 | G      | 2017-09-10 17:46:03.905795+00 | {"Deleted Scenes","Behind the Scenes"}          | 'battl':14 'brilliant':4 'car':8 'cruelti':1 'dentist':16 'moos':11 'must':13 'nigeria':18 'tale':5 'unforgiven':2
       83 | BEN        | WILLIS      | 2017-02-15 09:34:33+00 |      83 | BLUES INSTINCT        | A Insightful Documentary of a Boat And a Composer who must Meet a Forensic Psychologist in An Abandoned Fun House       |         2006 |           1 |                      |               5 |        2.99 |     50 |            18.99 | G      | 2017-09-10 17:46:03.905795+00 | {Trailers,"Deleted Scenes","Behind the Scenes"} | 'abandon':20 'blue':1 'boat':8 'compos':11 'documentari':5 'forens':16 'fun':21 'hous':22 'insight':4 'instinct':2 'meet':14 'must':13 'psychologist':17
      152 | BEN        | HARRIS      | 2017-02-15 09:34:33+00 |     152 | CIRCUS YOUTH          | A Thoughtful Drama of a Pastry Chef And a Dentist who must Pursue a Girl in A Baloon                                    |         2006 |           1 |                      |               5 |        2.99 |     90 |            13.99 | PG-13  | 2017-09-10 17:46:03.905795+00 | {Trailers,"Deleted Scenes","Behind the Scenes"} | 'baloon':20 'chef':9 'circus':1 'dentist':12 'drama':5 'girl':17 'must':14 'pastri':8 'pursu':15 'thought':4 'youth':2
        6 | BETTE      | NICHOLSON   | 2017-02-15 09:34:33+00 |       6 | AGENT TRUMAN          | A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China                               |         2006 |           1 |                      |               3 |        2.99 |    169 |            17.99 | PG     | 2017-09-10 17:46:03.905795+00 | {"Deleted Scenes"}                              | 'agent':1 'ancient':19 'boy':11 'china':20 'escap':14 'intrepid':4 'must':13 'panorama':5 'robot':8 'sumo':16 'truman':2 'wrestler':17
      193 | BURT       | TEMPLE      | 2017-02-15 09:34:33+00 |     193 | CROSSROADS CASUALTIES | A Intrepid Documentary of a Sumo Wrestler And a Astronaut who must Battle a Composer in The Outback                     |         2006 |           1 |                      |               5 |        2.99 |    153 |            20.99 | G      | 2017-09-10 17:46:03.905795+00 | {Trailers,Commentaries,"Behind the Scenes"}     | 'astronaut':12 'battl':15 'casualti':2 'compos':17 'crossroad':1 'documentari':5 'intrepid':4 'must':14 'outback':20 'sumo':8 'wrestler':9
       36 | BURT       | DUKAKIS     | 2017-02-15 09:34:33+00 |      36 | ARGONAUTS TOWN        | A Emotional Epistle of a Forensic Psychologist And a Butler who must Challenge a Waitress in An Abandoned Mine Shaft    |         2006 |           1 |                      |               7 |        0.99 |    127 |            12.99 | PG-13  | 2017-09-10 17:46:03.905795+00 | {Trailers,Commentaries}                         | 'abandon':20 'argonaut':1 'butler':12 'challeng':15 'emot':4 'epistl':5 'forens':8 'mine':21 'must':14 'psychologist':9 'shaft':22 'town':2 'waitress':17
(10 rows)

### Joining Category Table to Film Table by inner join, ordering by film ID number where Film ID is greater than 3

In [97]:
!psql -c "select * from pagila.category inner join pagila.film ON category.category_id = film.film_id where film_id > 3 order by film_id limit 5;"

 category_id |    name     |      last_update       | film_id |      title       |                                                      description                                                      | release_year | language_id | original_language_id | rental_duration | rental_rate | length | replacement_cost | rating |          last_update          |          special_features          |                                                                                    fulltext
-------------+-------------+------------------------+---------+------------------+-----------------------------------------------------------------------------------------------------------------------+--------------+-------------+----------------------+-----------------+-------------+--------+------------------+--------+-------------------------------+------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
           4 | Classics    | 2017-02-15 09:46:27+00 |       4 | AFFAIR PREJUDICE | A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank                          |         2006 |           1 |                      |               5 |        2.99 |    117 |            26.99 | G      | 2017-09-10 17:46:03.905795+00 | {Commentaries,"Behind the Scenes"} | 'affair':1 'chase':14 'documentari':5 'fanci':4 'frisbe':8 'lumberjack':11 'monkey':16 'must':13 'prejudic':2 'shark':19 'tank':20
           5 | Comedy      | 2017-02-15 09:46:27+00 |       5 | AFRICAN EGG      | A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico |         2006 |           1 |                      |               6 |        2.99 |    130 |            22.99 | G      | 2017-09-10 17:46:03.905795+00 | {"Deleted Scenes"}                 | 'african':1 'chef':11 'dentist':14 'documentari':7 'egg':2 'fast':5 'fast-pac':4 'forens':19 'gulf':23 'mexico':25 'must':16 'pace':6 'pastri':10 'psychologist':20 'pursu':17
           6 | Documentary | 2017-02-15 09:46:27+00 |       6 | AGENT TRUMAN     | A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China                             |         2006 |           1 |                      |               3 |        2.99 |    169 |            17.99 | PG     | 2017-09-10 17:46:03.905795+00 | {"Deleted Scenes"}                 | 'agent':1 'ancient':19 'boy':11 'china':20 'escap':14 'intrepid':4 'must':13 'panorama':5 'robot':8 'sumo':16 'truman':2 'wrestler':17
           7 | Drama       | 2017-02-15 09:46:27+00 |       7 | AIRPLANE SIERRA  | A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat                                     |         2006 |           1 |                      |               6 |        4.99 |     62 |            28.99 | PG-13  | 2017-09-10 17:46:03.905795+00 | {Trailers,"Deleted Scenes"}        | 'airplan':1 'boat':20 'butler':11,16 'discov':14 'hunter':8 'jet':19 'must':13 'saga':5 'sierra':2 'touch':4
           8 | Family      | 2017-02-15 09:46:27+00 |       8 | AIRPORT POLLOCK  | A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India                                         |         2006 |           1 |                      |               6 |        4.99 |     54 |            15.99 | R      | 2017-09-10 17:46:03.905795+00 | {Trailers}                         | 'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5
(5 rows)

### 3 queries that use an OUTER JOIN between two or more tables

### Joining the Rental table to the Customer table by left outer join, ordered by rental_id where rental.customer_id equals to 7

In [15]:
!psql -c "select * from pagila.rental left outer join pagila.customer on rental.customer_id = customer.customer_id where rental.customer_id = 7 order by rental_id limit 10;"

 rental_id |      rental_date       | inventory_id | customer_id |      return_date       | staff_id |      last_update       | customer_id | store_id | first_name | last_name |              email              | address_id | activebool | create_date |      last_update       | active
-----------+------------------------+--------------+-------------+------------------------+----------+------------------------+-------------+----------+------------+-----------+---------------------------------+------------+------------+-------------+------------------------+--------
        46 | 2005-05-25 06:04:08+00 |         3318 |           7 | 2005-06-02 08:18:08+00 |        2 | 2017-02-16 02:30:53+00 |           7 |        1 | MARIA      | MILLER    | MARIA.MILLER@sakilacustomer.org |         11 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
       117 | 2005-05-25 19:30:46+00 |         4278 |           7 | 2005-05-31 23:59:46+00 |        2 | 2017-02-16 02:30:53+00 |           7 |        1 | MARIA      | MILLER    | MARIA.MILLER@sakilacustomer.org |         11 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
       748 | 2005-05-29 09:27:00+00 |         2803 |           7 | 2005-06-03 04:25:00+00 |        1 | 2017-02-16 02:30:53+00 |           7 |        1 | MARIA      | MILLER    | MARIA.MILLER@sakilacustomer.org |         11 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
       975 | 2005-05-30 21:07:15+00 |         3109 |           7 | 2005-06-03 01:48:15+00 |        2 | 2017-02-16 02:30:53+00 |           7 |        1 | MARIA      | MILLER    | MARIA.MILLER@sakilacustomer.org |         11 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
      1063 | 2005-05-31 08:44:29+00 |         2484 |           7 | 2005-06-09 08:00:29+00 |        1 | 2017-02-16 02:30:53+00 |           7 |        1 | MARIA      | MILLER    | MARIA.MILLER@sakilacustomer.org |         11 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
      1810 | 2005-06-16 21:06:00+00 |         2368 |           7 | 2005-06-21 21:24:00+00 |        1 | 2017-02-16 02:30:53+00 |           7 |        1 | MARIA      | MILLER    | MARIA.MILLER@sakilacustomer.org |         11 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
      2250 | 2005-06-18 05:03:36+00 |         4042 |           7 | 2005-06-22 02:25:36+00 |        2 | 2017-02-16 02:30:53+00 |           7 |        1 | MARIA      | MILLER    | MARIA.MILLER@sakilacustomer.org |         11 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
      2709 | 2005-06-19 14:00:26+00 |         2877 |           7 | 2005-06-23 14:56:26+00 |        2 | 2017-02-16 02:30:53+00 |           7 |        1 | MARIA      | MILLER    | MARIA.MILLER@sakilacustomer.org |         11 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
      2888 | 2005-06-20 01:50:56+00 |          468 |           7 | 2005-06-22 05:05:56+00 |        2 | 2017-02-16 02:30:53+00 |           7 |        1 | MARIA      | MILLER    | MARIA.MILLER@sakilacustomer.org |         11 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
      3007 | 2005-06-20 10:11:53+00 |         1950 |           7 | 2005-06-25 04:51:53+00 |        2 | 2017-02-16 02:30:53+00 |           7 |        1 | MARIA      | MILLER    | MARIA.MILLER@sakilacustomer.org |         11 | t          | 2017-02-14  | 2017-02-15 09:57:20+00 |      1
(10 rows)

### Joining the Film table to the Language table by right outer join, ordered by film length where language.language_id is equal to 1

In [2]:
!psql -c "select * from pagila.film right outer join pagila.language on film.language_id = language.language_id where language.language_id = 1 order by film.length limit 5;"

 film_id |        title        |                                           description                                            | release_year | language_id | original_language_id | rental_duration | rental_rate | length | replacement_cost | rating |          last_update          |                  special_features                   |                                                                        fulltext                                                                        | language_id |         name         |      last_update
---------+---------------------+--------------------------------------------------------------------------------------------------+--------------+-------------+----------------------+-----------------+-------------+--------+------------------+--------+-------------------------------+-----------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------+-------------+----------------------+------------------------
     469 | IRON MOON           | A Fast-Paced Documentary of a Mad Cow And a Boy who must Pursue a Dentist in A Baloon            |         2006 |           1 |                      |               7 |        4.99 |     46 |            27.99 | PG     | 2017-09-10 17:46:03.905795+00 | {Commentaries,"Behind the Scenes"}                  | 'baloon':22 'boy':14 'cow':11 'dentist':19 'documentari':7 'fast':5 'fast-pac':4 'iron':1 'mad':10 'moon':2 'must':16 'pace':6 'pursu':17              |           1 | English              | 2017-02-15 10:02:19+00
     504 | KWAI HOMEWARD       | A Amazing Drama of a Car And a Squirrel who must Pursue a Car in Soviet Georgia                  |         2006 |           1 |                      |               5 |        0.99 |     46 |            25.99 | PG-13  | 2017-09-10 17:46:03.905795+00 | {Trailers,Commentaries}                             | 'amaz':4 'car':8,16 'drama':5 'georgia':19 'homeward':2 'kwai':1 'must':13 'pursu':14 'soviet':18 'squirrel':11                                        |           1 | English              | 2017-02-15 10:02:19+00
      15 | ALIEN CENTER        | A Brilliant Drama of a Cat And a Mad Scientist who must Battle a Feminist in A MySQL Convention  |         2006 |           1 |                      |               5 |        2.99 |     46 |            10.99 | NC-17  | 2017-09-10 17:46:03.905795+00 | {Trailers,Commentaries,"Behind the Scenes"}         | 'alien':1 'battl':15 'brilliant':4 'cat':8 'center':2 'convent':21 'drama':5 'feminist':17 'mad':11 'must':14 'mysql':20 'scientist':12                |           1 | English              | 2017-02-15 10:02:19+00
     730 | RIDGEMONT SUBMARINE | A Unbelieveable Drama of a Waitress And a Composer who must Sink a Mad Cow in Ancient Japan      |         2006 |           1 |                      |               3 |        0.99 |     46 |            28.99 | PG-13  | 2017-09-10 17:46:03.905795+00 | {Commentaries,"Deleted Scenes","Behind the Scenes"} | 'ancient':19 'compos':11 'cow':17 'drama':5 'japan':20 'mad':16 'must':13 'ridgemont':1 'sink':14 'submarin':2 'unbeliev':4 'waitress':8               |           1 | English              | 2017-02-15 10:02:19+00
     505 | LABYRINTH LEAGUE    | A Awe-Inspiring Saga of a Composer And a Frisbee who must Succumb a Pioneer in The Sahara Desert |         2006 |           1 |                      |               6 |        2.99 |     46 |            24.99 | PG-13  | 2017-09-10 17:46:03.905795+00 | {Commentaries,"Behind the Scenes"}                  | 'awe':5 'awe-inspir':4 'compos':10 'desert':22 'frisbe':13 'inspir':6 'labyrinth':1 'leagu':2 'must':15 'pioneer':18 'saga':7 'sahara':21 'succumb':16 |           1 | English              | 2017-02-15 10:02:19+00
(5 rows)

### Joining the Staff table to the Payment table by full outer join, ordered by payment_id where staff.last_name starts with an 'S'

In [39]:
!psql -c "select * from pagila.staff full outer join pagila.payment on staff.staff_id = payment.staff_id where staff.last_name like 'S%' order by payment.payment_id limit 5;"

 staff_id | first_name | last_name | address_id |            email             | store_id | active | username |                 password                 |         last_update          | picture | payment_id | customer_id | staff_id | rental_id | amount |         payment_date
----------+------------+-----------+------------+------------------------------+----------+--------+----------+------------------------------------------+------------------------------+---------+------------+-------------+----------+-----------+--------+-------------------------------
        2 | Jon        | Stephens  |          4 | Jon.Stephens@sakilastaff.com |        2 | t      | Jon      | 8cb2237d0679ca88db6464eac60da96345513964 | 2017-05-16 16:13:11.79328+00 |         |      16050 |         269 |        2 |         7 |   1.99 | 2017-01-24 21:40:19.996577+00
        2 | Jon        | Stephens  |          4 | Jon.Stephens@sakilastaff.com |        2 | t      | Jon      | 8cb2237d0679ca88db6464eac60da96345513964 | 2017-05-16 16:13:11.79328+00 |         |      16050 |         269 |        2 |         7 |   1.99 | 2017-01-24 21:40:19.996577+00
        2 | Jon        | Stephens  |          4 | Jon.Stephens@sakilastaff.com |        2 | t      | Jon      | 8cb2237d0679ca88db6464eac60da96345513964 | 2017-05-16 16:13:11.79328+00 |         |      16052 |         269 |        2 |       678 |   6.99 | 2017-01-28 21:44:14.996577+00
        2 | Jon        | Stephens  |          4 | Jon.Stephens@sakilastaff.com |        2 | t      | Jon      | 8cb2237d0679ca88db6464eac60da96345513964 | 2017-05-16 16:13:11.79328+00 |         |      16052 |         269 |        2 |       678 |   6.99 | 2017-01-28 21:44:14.996577+00
        2 | Jon        | Stephens  |          4 | Jon.Stephens@sakilastaff.com |        2 | t      | Jon      | 8cb2237d0679ca88db6464eac60da96345513964 | 2017-05-16 16:13:11.79328+00 |         |      16053 |         269 |        2 |       703 |   0.99 | 2017-01-29 00:58:02.996577+00
(5 rows)

### Self join on Film

In [16]:
!psql -c "SELECT f1.title,f2.title,f1.length FROM pagila.film f1 INNER JOIN pagila.film f2 ON f1.film_id <> f2.film_id AND f1.length = f2.length limit 10"

      title       |        title        | length
------------------+---------------------+--------
 ACADEMY DINOSAUR | ANNIE IDENTITY      |     86
 ACADEMY DINOSAUR | GANDHI KWAI         |     86
 ACADEMY DINOSAUR | MIDNIGHT WESTWARD   |     86
 ACADEMY DINOSAUR | YENTL IDAHO         |     86
 ACE GOLDFINGER   | HEAVEN FREEDOM      |     48
 ACE GOLDFINGER   | MIDSUMMER GROUNDHOG |     48
 ACE GOLDFINGER   | NOTTING SPEAKEASY   |     48
 ACE GOLDFINGER   | ODDS BOOGIE         |     48
 ACE GOLDFINGER   | PARADISE SABRINA    |     48
 ACE GOLDFINGER   | PELICAN COMFORTS    |     48
(10 rows)